<!DOCTYPE html>
<html>
  <head>
    <title>main page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>

    <!--  Fontawesome  -->
    <!-- <script
      src="https://kit.fontawesome.com/1d19cec74a.js"
      crossorigin="anonymous"
    ></script> -->

    <!--  Jquery   -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
      integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!--  -->
    <meta charset="UTF-8" />
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    /> -->
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="../static/css/star-rating.css"
      media="all"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../static/themes/krajee-fa/theme.css"
      media="all"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../static/themes/krajee-svg/theme.css"
      media="all"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../static/themes/krajee-uni/theme.css"
      media="all"
      type="text/css"
    />
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <script src="../static/js/star-rating.js" type="text/javascript"></script>
    <!-- <script src="../themes/krajee-fa/theme.js" type="text/javascript"></script> -->
    <!-- <script src="../themes/krajee-svg/theme.js" type="text/javascript"></script> -->
    <script
      src="../static/themes/krajee-gly/theme.js"
      type="text/javascript"
    ></script>
    <!--  -->
    <style>
      .wrap {
        width: 600px;
        height: 500px;
        margin: auto;
        vertical-align: middle;
        text-align: center;
        background-color: bisque;
      }

      /* 정적 별 스타일 */
      .star-ratings {
        color: #aaa9a9; 
        position: relative;
        unicode-bidi: bidi-override;
        width: max-content;
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1.3px;
        -webkit-text-stroke-color: #2b2a29;
      }
 
      .star-ratings-fill {
        color: #fff58c;
        padding: 0;
        position: absolute;
        z-index: 1;
        display: flex;
        top: 0;
        left: 0;
        overflow: hidden;
        -webkit-text-fill-color: gold;
      }
      
      .star-ratings-base {
        z-index: 0;
        padding: 0;
      }
    </style>
    <script>
      function postComment() {
        let comment_text = $("#comment_text").val();
        let comment_star = $("#comment_star").val();

        if (comment_text == "") {
          // window.location.reload();
          alert("리뷰를 남겨주세요~! ");
          return;
        } else if (comment_star == "") {
          // window.location.reload();
          alert("별점을 1 ~ 5 사이로 입력해주세요~!");
          return;
        }

        console.log( {{ data|safe }} );
        let data = {{ data|safe }};
        
        // 조식, 중식, 석식 구분
        let meal_time = $(".modal-title").text();
  
        console.log(meal_time);
        if( meal_time == "오늘의 점심입니다." ){
          $.ajax({
            type: "POST",
            url: "/main/saveComment",
            data: {
              userId_give : data.currentUser,
              postDate_give : data.showToday,
              menus_give : data.menusLunch,
              rating_give : comment_star,
              comment_give : comment_text
            },
            success: function(response) {
              if (response["result"] == "success") {
                // alert("포스팅 성공~!");
                window.location.reload();
              }
              else {
                alert("오류");
              }
            }
          })
        }


        console.log(comment_text, comment_star, typeof comment_star);
        // window.location.reload();
      }


      // 조식,중식,석식 버튼을 눌렀을때 아침이면 해당 html 태그 값들을 넣어서 append
      $(document).on("click", "#meal_button", function(){
        let meal_time = $(this).data('id');

        if ( meal_time == 'breakfast') {
          
        }
        else if (meal_time == 'lunch') {
          append_html( {{ data|safe }}, meal_time )
          // let menus = JSON.pares( {{ data | safe }} )
          // console.log(menus);
          // $(".list-group").append()
        }
      });

      function append_html(data, meal_time) {
        console.log(data);
        
        if (meal_time == 'lunch'){
          // 모달 제목
          $(".modal-title").html("");
          $(".modal-title").text('오늘의 점심입니다.');

          // 메뉴 리스트
          // console.log(data.menusLunch.length);
          let menu_list = '';
          for ( let i = 0; i < data.menusLunch.length; i++ ) {
            // console.log(i);
            menu_list += `<li class="list-group-item">${data.menusLunch[i]}</li>`;
          }
          $(".list-group").html("");
          $(".list-group").append(menu_list);
          
          // 해당 메뉴 점수 표시
          let menu_rating = data.ratingLunch;
          if( menu_rating == null ){
            $(".menu_rating").text('아직 후기가 없습니다.');
          }
          else
          $(".menu_rating").html("");
          $(".menu_rating").text( String(menu_rating) + " / 5");

          // 해당 메뉴 별점수 표시
          let star_score = menu_rating / 5 * 100
          // console.log(star_score);
          let star_html = `<div class="star-ratings-fill space-x-2 text-lg" style="width:${star_score}%;font-size: 40px;">
                              <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                          </div>
                        
                          <div class="star-ratings-base space-x-2 text-lg" style="font-size: 40px;">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                          </div>`;
          $(".star-ratings").html("");
          $(".star-ratings").append(star_html);
        }
        
      }

      

    </script>
  </head>
  <body>
    <div class="wrap">
      <p>Hello, jungle</p>
      <p>오늘의 학식</p>
      <p>{{ showToday }}</p>

      <!-- Button trigger modal -->

      <div type="button" id="meal_button" data-id="breakfast" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#breakfastModal">
        오늘의 조식
      </div>

      <div type="button" id="meal_button" data-id="lunch" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#breakfastModal">
        오늘의 중식
      </div>

      <div type="button" id="meal_button" data-id="dinner" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#breakfastModal">
        오늘의 석식
      </div>

      <!-- Modal -->
      <div class="modal fade" id="breakfastModal" tabindex="-1" aria-labelledby="breakfastModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
          <div class="modal-content">
            
            <!-- Modal header -->
            <div class="modal-header" style="text-align: center">
              <h5 class="modal-title" id="breakfastModalLabel">

              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <!-- Modal content -->
            <div class="modal-body">
              <h1>오늘의 메뉴</h1>
                <!-- 메뉴 및 평점 표시 -->
                <div class="row">
                  <div class="col-9">

                    <!-- 메뉴 리스트 화면에 표시 -->
                    <ul class="list-group"></ul>
                  </div>
                  <div class="col-3">
                    <!-- 해당 메뉴 점수 표시 (e.g 5 / 5 ) -->
                    <h1 class="menu_rating"></h1>

                    <!-- 해당 메뉴 별 점수 표시 -->
                    <div class="star-ratings"></div>
                  
                  </div>
                </div>
              </div>

            <!-- 리뷰 작성하기 -->
            <div id="post-box" class="form-post" style="padding: 20px">
              <div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-1">
                      <label form="post-comment">코멘트</label>
                    </div>
                    <div class="col-7">
                      <textarea id="comment_text" class="form-control" rows="2"></textarea>
                    </div>
                    <div class="col-3">
                      <input id="comment_star" name="input-1" class="rating rating-loading" data-min="0" data-max="5" data-step="1"/>
                    </div>
                    <div class="col-1">
                      <button type="button" class="btn btn-primary" onclick="postComment()">
                        저장
                      </button>
                    </div>
                  </div>
                </div>
                <!-- <div class="container">
                  <span id="rateMe1"></span>
                </div> -->

                <!-- <input
                    type="text"
                    class="rating rating-loading"
                    value="3.75"
                    data-size="xl"
                    data-theme="krajee-gly"
                    title=""
                  />
                </form> -->
              </div>
            </div>

            <!-- 이전 리뷰 보기 -->     
            <div>
              <div></div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                닫기
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
